<%- include('partials/head') %> 
<%- include('partials/navbar') %> 
    <div class="container">
<div class="row mb-5">
    <div class="col text-center"><h1>Stuff you do not care about</h1></div>
</div>

<div class="row d-flex flex-column align-items-center">
  <%  for (let p of posts) { %>
    <div class="col-6 d-flex flex-column justify-content-center mb-3 border 
    border-secondary rounded"> 
        <div class="text-center">
            <h2> <%= p.postTitle  %> </h2>
        </div>
        <div class=" p-2 border-bottom border-top mb-1 ">
            <img src="<%= p.postURL %> " alt="">
        </div>
        <div class="d-flex justify-content-end p-2">
            <h5>- <%= p.username %> </h5></div>
        <div class="d-flex justify-content-center p-2">
            <div class="m-2"></div><a href="/feed/<%= p.id %>/edit">edit</a>
            <div class="m-2"></div><a href="/feed/<%= p.id %> ">show</a>
            
    </div>
    
    </div>
    
    <% } %> 

</div>

    





</div>
</body>
</html>